body {
    background-image: url(mitsubishi-lancer.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    background: linear-gradient(to right, skyblue, rgb(66, 66, 131));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    background: linear-gradient(to left, skyblue, rgb(66, 66, 131));
    background-repeat: no-repeat;
    background-attachment: fixed;
}